{
  "services": {
    "grafana": {
      "GF_SECURITY_ADMIN_PASSWORD": "your_grafana_admin_password",
      "GF_SECURITY_ADMIN_USER": "your_grafana_admin_user"
    },
    "setup_elk": {
      "KIBANA_PASSWORD": "changeme",
      "ELASTIC_PASSWORD": "changeme",
      "KIBANA_USER": "kibana_system",
      "ELASTIC_USER": "elastic"
    },
    "elastic": {
      "ELASTIC_PASSWORD": "changeme",
      "ELASTIC_USER": "elastic"
    },
    "kibana": {
      "ELASTICSEARCH_PASSWORD": "changeme",
      "ELASTICSEARCH_USERNAME": "kibana_system",
      "ENCRYPTION_KEY": "something_at_least_32_characters"
    },
    "logstash": {
      "ELASTIC_PASSWORD": "changeme",
      "ELASTIC_USER": "elastic",
      "POSTGRES_USER": "logstash_to_postgres",
      "POSTGRES_PASSWORD": "logstash_password",
      "POSTGRES_DB": "your_postgres_db"
    },
    "postgres_exporter": {
      "POSTGRES_DB": "your_postgres_db",
      "DATA_SOURCE_USER": "your_postgres_exporter_user",
      "DATA_SOURCE_PASSWORD": "your_postgres_exporter_password"
    },
    "postgres": {
      "POSTGRES_DB": "your_postgres_db",
      "POSTGRES_USER": "your_postgres_user",
      "POSTGRES_PASSWORD": "your_postgres_password",
      "EXPORTER_USER": "your_postgres_exporter_user",
      "EXPORTER_PASSWORD": "your_postgres_exporter_password",
      "AUTH_USER": "your_auth_user",
      "AUTH_PASSWORD": "your_auth_password",
      "DB_API_USER": "your_db_api_user",
      "DB_API_PASSWORD": "your_db_api_password",
      "LOGSTASH_USER": "logstash_to_postgres",
      "LOGSTASH_PASSWORD": "logstash_password"
    },
    "auth": {
      "POSTGRES_DB": "your_postgres_db",
      "AUTH_USER": "your_auth_user",
      "AUTH_PASSWORD": "your_auth_password",
      "CLIENT_ID": "42clientid",
      "CLIENT_SECRET": "42clientsecret",
      "DJANGO_KEY": "djangokey",
      "EMAIL_HOST_PASSWORD": "password"
    },
    "db_api": {
      "POSTGRES_DB": "your_postgres_db",
      "DB_API_USER": "your_db_api_user",
      "DB_API_PASSWORD": "your_db_api_password",
      "DJANGO_KEY": "djangokey"
    },
    "prometheus": {
      "HONEYPOT": "prout"
    }
  }
}